.host {
  // background-color: rgb(40, 40, 41);
  display: flex;
  flex-direction: column;
  position: relative;
}

.mybtn {
  position: fixed;
  right: 15px;
  top: 40vh;
  z-index: 1;
  button {
    margin: 3px;
  }
}

.page {
  border-radius: 0;
  width: 210mm;
  min-height: 297mm;

  // &:hover {
  //   transform: scale(1.5) !important;
  // }
  // padding: 2mm 2mm;
  margin: 0mm auto;
  // background-color: white;
  // border: 1px #d3d3d3 solid;
  // border-radius: 5px;
  // background: rgb(239, 239, 241);
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  mat-card {
    transform: scale(1);
    transition: transform .35s ease-out;
    transform-origin: top center;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  span {
    font-size: 0.8em;
  }

  p {
    margin: 0;
    font-size: 0.75em;
  }

  .title {
    margin: 0px 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: var(--selected-primary);
    // color: #1976d2;
    display: flex;
    align-items: center;
    line-height: 0px;
    padding: 0;
    mat-icon {
      margin-right: 5px;
      font-size: 1.4em;
    }
  }

  aside {
    // background-color: rgb(241, 241, 241);
    // box-shadow: 1px 1px rgba(255, 166, 0, 0.384);
    // border-left: solid orange 4px;
    // background-color: white;
    // margin-right: 5px;
    padding: 2mm 3mm 2mm 3mm;

    // img {
    //   width: 170px;
    // }

    .info {
      display: flex;
      align-items: center;
      // height: 15px;
      mat-icon {
        // font-size: 1.1em;
        // padding-top: 3px;
        // color: gray;
        // margin-right: 4px;
      }

      .text {
        font-size: 1em;
        font-weight: bold;
        width: 25px;
        margin-top: -2px;
        // color: gray;
        margin-right: 4px;
      }

      .link {
        // font-weight: 700;
        font-size: .7em;
      }
    }

    .skills {
      margin-bottom: 10px;
      .title {
        text-transform: uppercase;
        font-weight: bold;

      }

      .domaine {
        font-weight: bold;
        // font-style: italic;
        // text-decoration: underline;
        // color: gray;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        mat-icon {
          font-size: 1.4em;
          padding-top: 3px;
        }
      }
    }

    .langs {
      .lang {
        font-weight: bold;
        // font-style: italic;
        // text-decoration: underline;
        // color: gray;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        mat-icon {
          font-size: 1.4em;
          padding-top: 3px;
        }
      }

      .lang2 {
        // font-weight: bold;
        // font-style: italic;
      }
    }
  }

  .summary {
    // box-shadow: 1px 1px rgba(0, 0, 255, 0.384);
    // border-left: solid blue 4px;
    // background-color: white;
    padding: 2mm 3mm;
    width: 100%;
    // margin-left: 5px;
    .title {
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      font-weight: bold;
      display: flex;
      align-items: center;
      mat-icon {
        font-size: 1.4em;
        padding-top: 3px;
        // color: gray;
      }
    }

    .place {
      font-weight: bold;
      display: flex;
      align-items: center;
      mat-icon {
        font-size: 1.4em;
        padding-top: 3px;
        // color: gray;
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      // .name {
      //   margin: 0;
      //   span:nth-child(1) {
      //     font-size: 2em;
      //     font-weight: bold;
      //   }

      //   span:nth-child(2) {
      //     font-size: 2em;
      //     // font-weight: bold;
      //   }
      // }

      // h3 {
      //   display: flex;
      //   align-items: center;
      //   color: var(--selected-neutral);
      //   margin-bottom: 15px;
      //   mat-icon {
      //     // font-size: 1.5em;
      //     margin-right: 5px;
      //     // padding-top: -2px;
      //   }
      // }



      span {
        font-size: 0.8em;
      }
    }

    .experiences {
      .desc {
        font-style: italic;
      }

      .tech {
        display: flex;
        align-items: center;
        mat-icon {
          font-size: 1.5em;
          padding-top: 2px;
        }
      }

      .links {
        font-style: italic;
        color: var(--selected-link);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        span {
          display: flex;
          align-items: center;
          margin-right: 10px;
          font-size: .65em;
          cursor: pointer;
          mat-icon {
            font-size: 1.2em;
            width: 15px;
            height: 15px;
            // color: black;
            padding-top: 1px;
          }
        }
      }
    }

    .educations {
      .desc {
        font-style: italic;
      }
    }
  }
}
