<header>
  <mat-toolbar color="primary" class="mat-elevation-z6" style="min-height: 50px">
      <mat-toolbar-row style="height: 50px;">
          <button mat-button routerLinkActive="active">
              <mat-icon>menu</mat-icon>
          </button>
          <button mat-button  [routerLink]="['/home/welcome' + service.private]" routerLinkActive="router-link-active">
              <mat-icon>home</mat-icon>
          </button>

          <button mat-button [routerLink]="['/cv/welcome' + service.private]" routerLinkActive="router-link-active" >
              <mat-icon>import_contacts</mat-icon>
          </button>
          <span style="flex: 1 1 auto;"></span>

          <app-theme></app-theme>

      </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
