/* You can add global styles to this file, and also import other style files */
// @import "./assets/iconfont/material-icons.css";
// @import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";
@import "../node_modules/bootstrap-css-only/css/bootstrap-grid.min.css";
@import "../node_modules/bootstrap-css-only/css/bootstrap-reboot.min.css";
@import "./iconfont/material-icons.css";
// @import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "themes";
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.img1 {
  /* background-image: url("../assets/1.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
}

.h1 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-align: center;
  padding: 4rem 0;
  color: aliceblue;
}
