
<!-- <app-admin *ngIf="session.userRole()"></app-admin> -->
<mat-sidenav-container class="example-sidenav-container">
    <div #div (click)="snav.toggle()"></div>
    <mat-sidenav #snav [mode]="(!mobileQuery.matches) ? 'side' : 'over'"
        [opened]="opened && (!mobileQuery.matches) ? true : false" [fixedInViewport]="true" fixedTopGap="50"
        style="box-shadow: 2px 2px 10px 1px rgba(0,0,0,.2);">

        <mat-nav-list style="width: 180px; padding: 0;">
            <div style="height:180px; padding: 0;">
                <img matLine [src]="userImg2" alt="mourabit" width="180px" height="180px">

                <!-- <h3 matLine>Mourabit</h3>
                  <p matLine>
                      <span> Web delelopper full-stack </span>
                      <span class="demo-2"> -- need for power </span>
                  </p> -->
            </div>
            <mat-list-item (click)="scrollTo('section1')" [ngStyle]="activatedLink('section1')">
                <mat-icon>info</mat-icon>
                <span>About</span>
                <span style="border-bottom: 5px solid rgba(73, 255, 185, 0.534);"></span>
            </mat-list-item>
            <mat-list-item (click)="scrollTo('section2')" [ngStyle]="activatedLink('section2')">
                <mat-icon>school</mat-icon>
                <span>Education</span>
            </mat-list-item>
            <mat-list-item (click)="scrollTo('section3')" [ngStyle]="activatedLink('section3')">
                <mat-icon>done_all</mat-icon>
                <span>Skills</span>
            </mat-list-item>
            <mat-list-item (click)="scrollTo('section4')" [ngStyle]="activatedLink('section4')">
                <mat-icon>library_books</mat-icon>
                <span>Experience</span>
            </mat-list-item>
            <mat-list-item (click)="scrollTo('section5')" [ngStyle]="activatedLink('section5')">
                <mat-icon>contact_mail</mat-icon>
                <span>Contact</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="overflow: hidden;">
        <main>
            <!-- <router-outlet>
          </router-outlet> -->
            <app-about id="section1"></app-about>
            <app-education id="section2"></app-education>
            <app-skills id="section3"></app-skills>
            <app-experience id="section4"></app-experience>
            <app-contact id="section5"></app-contact>
        </main>

        <footer>
            <mat-toolbar class="mt-2 text" color="primary">
                <mat-toolbar-row style="height: 70px">
                    <span style="margin-left: auto; margin-right: auto;"> © {{ d | date:"yyyy" }} - Mohamed
                        MOURABIT</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
